/* Базовые фон страницы */
.page {
  background-color: var(--bg-color, rgb(0 0 40));
  background-image: var(--bg-image, url('../../images/cover-image-dark.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
