.page {
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image, url('../../images/cover-image.png'));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
