.header__theme-menu {
  justify-self: end;
  margin-block-start: 10px;
  margin-inline: 10px;  
}

@media (width >= 768px) {
  
  .header__theme-menu {
    grid-column: span 2;    
    margin-block-start: 20px;
    margin-inline: 20px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
}