/* размер шрифта контентных заголовоков из body */

.title {
  font-size: inherit;
}

/* основной заголовок */

.title--base {
  color: var(--accent-color-second, rgb(255 0 112));
}

/* заголовки с бэкграундом */

.title__decor {
  color: var(--title-accent-color, rgb(0 0 40));
  background-color: var(--accent-color-second, rgb(255 0 112));
}

/* жирный заголовок */

.title__decor--strong {
  font-weight: 700;
}

/* тонкий заголовок */

.title__decor--thin {
  font-weight: 400;
}
