.page.theme_light {
  --accent-color-main: rgb(53 52 48);
  --accent-color-second: rgb(255 141 203);
  --bg-color: rgb(255 241 247);
  --bg-image: url('../images/cover-image-light.png');
  --hover-menu-color: rgb(50 49 45 / 0.4);
  --text-color: rgb(53 52 48);
  --title-accent-color: rgb(53 52 48);
  --title-color: rgb(255 194 230);
  --title-shadow: rgb(255 141 203);
}

.theme_light .header__decorated {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color-main: rgb(53 52 48);
    --accent-color-second: rgb(255 141 203);
    --bg-color: rgb(255 241 247);
    --bg-image: url('../images/cover-image-light.png');
    --hover-menu-color: rgb(50 49 45 / 0.4);
    --text-color: rgb(53 52 48);
    --title-accent-color: rgb(53 52 48);
    --title-color: rgb(255 194 230);
    --title-shadow: rgb(255 141 203);
  }

  .theme_light .header__decorated,
  .theme_auto .header__decorated {
    display: none;
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  :root {
    --title-shadow: rgb(255 0 112);
  }
}

@media (width >= 1024px) {
  .page.theme_light {
    --title-shadow: rgb(255 0 112);
  }
}
