/* Стили для подвала */

.footer {
  display: grid;
  place-items: center center;
  block-size: 100dvb;
  min-block-size: 668px;
}

/* Стилизация заголовка в подвале */

.footer__headline {
  text-shadow: 2px 2px 0 var(--title-shadow, rgb(255 0 112));
}
