.content__column {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {

  .content__column {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {

  .content__column {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    align-items: start;
  }
}