/* Стили и сетка для шапки */
.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  place-items: center end;
  block-size: 100dvb;
  min-block-size: 668px;
  padding: 10px;
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }
}

/* Меню */
@media (width >= 1024px) {
  .header__theme-menu {
    place-self: start center;
  }
}

/* Сетка для кнопок меню */
.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
  }
}

/* Кнопки меню */
.header__theme-menu-button {
  border: 1px solid transparent;
  padding-block: 2px 4px;
  padding-inline: 13px;
  color: var(--accent-color-main, rgb(255 0 112));
  line-height: 1;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  min-inline-size: 70px;
  appearance: none;
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-menu-color, rgb(255 0 112 / 40%));
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentcolor;
}

.header__theme-menu-button_active {
  border: 1px solid currentcolor;
  pointer-events: none;
}

/* Стили главного заголовока в шапке */
.header__headline {
  justify-self: start;
  text-shadow: 4px 4px 0 var(--title-shadow, rgb(255 0 112));
}

@media (width >= 768px) {
  .header__headline {
    margin-inline: -20px;
  }
}

/* Стили для дескриптора */
@media (width >= 768px) {
  .header__title {
    inline-size: 50%;
  }
}

/* Декоративный элемент REC */
.header__decorated {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color-main, rgba(255 0 112));
  line-height: 1.5625;
  text-transform: uppercase;
  inset-inline-end: 20px;
  inset-block-start: 10px;
}

.header__decorated::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px currentcolor;
  background-color: currentcolor;
  inline-size: 9px;
  block-size: 9px;
}

@media (width >= 768px) {
  .header__decorated {
    inset-inline-end: 30px;
    inset-block-start: 20px;
  }
}
