/* Основной main-контейнер контентных блоков */

.content {
  display: grid;
  gap: 50px;
  padding-block: 40px;
  padding-inline: 10px;
}

@media (width >= 768px) {
  .content {
    gap: 80px;
    padding-block: 60px;
    padding-inline: 20px;
  }
}

/* Общие стили для контентной секции */

.content__section {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) {
  .content__section {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {
  .content__section {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* секция блоков: заголовок + параграф */

.content__articles {
  display: grid;
  gap: 20px;
}

/* Контент в виде списка */

@media (width >= 1024px) {
  .content__articles--list {
    grid-column: span 2;
  }
}

/* Контент в виде колонок */

@media (width >= 768px) {
  .content__articles--column {
    grid-column: span 2;
  }
}

@media (width >= 1024px) {
  .content__articles--column {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    align-items: start;
  }
}

/* Галлерея изображений */

.content__gallery {
  display: grid;
  gap: 10px;
}

@media (width >= 768px) {
  .content__gallery {
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/* Стили для изображений */

.content__gallery-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 768px) {
  .content__gallery-image:nth-child(1) {
    grid-column: span 2;
  }

  .content__gallery-image:nth-child(2) {
    grid-row: span 2;
  }

  .content__gallery-image:nth-child(3) {
    grid-row: span 2;
  }

  .content__gallery-image:nth-child(5) {
    grid-column: span 2;
  }
}
