.content {
  display: grid;
  gap: 20px;
}

@media (width >= 768px) AND (width < 1024px) {

  .content {
    grid-template-columns: 1fr 2fr;
  }
}

@media (width >= 1024px) {

  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}