.page {
  padding-inline: var(--g-padding, 0.625rem);
  font-family: "IBM Plex mono", monospace;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3;
  background-color: var(--bg-color, rgba(0, 0, 40, 1));
  background-image: var(--bg-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
  align-items: center;
  padding-block: var(--g-padding, 0.625rem);
  block-size: 100vh;
  min-block-size: 41.75rem;
}

.decorated-zone {
  position: relative;
  color: var(--accent-color-main, rgba(255, 0, 112, 1));
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 1.5625rem;
  block-size: 1.5625rem;
}

.decorated-zone::before {
  border-inline-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  inset-inline-end: 0;
  inset-block-start: var(--g-padding, 0.625rem);
}

.decorated-zone::after {
  border-inline-start: 1px solid currentColor;
  border-block-end: 1px solid currentColor;
  inset-inline-start: 0;
  inset-block-end: var(--g-padding, 0.625rem);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0.125rem 0.25rem 0.25rem;
  color: var(--accent-color-main, rgba(255, 0, 112, 1));
  line-height: 1;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
  min-inline-size: 4.375rem;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-menu-color, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  outline: none;
}

.header__title {
  color: var(--title-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 0.25rem 0.25rem 0 var(--title-shadow, rgba(255, 0, 112, 1));
}

.header__description {
  font-weight: 700;
}

.title-decor {
  color: var(--title-accent-color, rgba(0, 0, 40, 1));
  background-color: var(--accent-color-second, rgba(255, 0, 112, 1));
}

.header__decorated {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: var(--accent-color-main, rgba(255, 0, 112, 1));
  line-height: 1.5625rem;
  text-transform: uppercase;
  inset-inline-end: 0.59rem;
  inset-block-start: var(--g-padding);
}

.header__decorated::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 0.25rem 0.125rem currentColor;
  background-color: currentColor;
  inline-size: 0.5625rem;
  block-size: 0.5625rem;
}

.content__link {
  display: inline-block;
  line-height: 0.9;
  text-decoration: none;
  text-shadow: 0.125rem 0.125rem 0
    var(--accent-color-second, rgba(255, 0, 112, 1));
}

.content__link:hover {
  border-block-end: 1px solid currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  border: none;
  outline: 1px solid currentColor;
}

.main {
  display: grid;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  padding-block: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.content {
  display: grid;
  gap: 1.25rem;
}

.content__title {
  color: var(--accent-color-main, rgba(255, 0, 112, 1));
  font-size: inherit;
}

.content__list-items {
  display: grid;
  gap: 1.25rem;
}

.content__item {
  display: grid;
  gap: 0.625rem;
}

.content__item-title {
  font-size: inherit;
}

.content__item-text {
  color: var(--text-color, rgba(241, 178, 206, 1));
}

.content__column-items {
  display: grid;
  gap: 1.25rem;
}

.content__article {
  display: grid;
  gap: 1.25rem;
}

.content__list-subtitle-items {
  display: grid;
  gap: 1.25rem;
}

.content__item-subtitle {
  font-weight: 400;
  font-size: inherit;
}

.content__gallery,
.content__gallery-items {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.content__gallery-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-block: var(--g-padding, 0.625rem);
  block-size: 100vh;
  min-block-size: 41.75rem;
}

.footer__title {
  color: var(--title-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  text-shadow: 0.125rem 0.125rem 0 var(--title-shadow, rgba(255, 0, 112, 1));
}

@media (width >= 48rem) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: span 2;
  }

  .header__title {
    grid-column: span 2;
    margin-inline: calc(-1 * var(--g-padding, 0.625rem));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column-end: -1;
  }

  .content {
    grid-template-columns: 1fr 2fr;
  }

  .content__column-items {
    grid-column: span 2;
  }

  .content__gallery-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .content__gallery-item:nth-child(1) {
    grid-column: span 2;
  }

  .content__gallery-item:nth-child(2) {
    grid-row: span 2;
  }

  .content__gallery-item:nth-child(3) {
    grid-row: span 2;
  }

  .content__gallery-item:nth-child(5) {
    grid-column: span 2;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 64rem) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
  }

  .content {
    grid-template-columns: repeat(3, 1fr);
  }

  .content__list-items {
    grid-column: span 2;
  }

  .content__article {
    grid-column: span 2;
  }

  .content__column-items {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
    align-items: start;
  }
}
